body{
color: rgb(113, 23, 131);/*cor da fonte*/
background-color: rgb(209, 93, 255);/*cor de fundo*/
font-size: 24px;/*tamanho da fonte*/
} 
header{
 
    border: solid 2px black;/*borda solida de px preta*/
}